.intro {
  background: linear-gradient(144deg, rgba(143,170,161,1) 30%, rgba(88,105,136,1) 85%);
  color: black;
  margin: -2rem -8vw 0 -8vw;
  padding: 2rem 4rem;
  height: 16rem;
}

.intro-title{
  font-size: 2.75rem;
  font-weight: 600;
}

.intro-sub {
  font-size: 1.25rem;
}

.intro-text {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blogCard {
  background-color: rgb(123, 146, 138);
  margin: 2.5rem;
  color: black;
  transition: ease-in 0.2s;
  max-width: 25rem;
  /* height: 25rem; */
}

.blogCard:hover {
  background-color: rgb(143, 170, 161);
  color: rgb(22, 22, 22);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.1);
}

.blogCard img {
  object-fit: contain;
  width: 100%;
  height: 16rem;
}

.card-bottom {
  text-align: center;
  padding-bottom: 0.5rem;
}

.post-title {
  font-size: 1.75rem;
  font-weight: 600;
}