body {
  background-color: #404e68;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo { animation: App-logo-spin infinite 3s linear }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.container {
  padding: 6rem 15vw;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}

.blogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(123, 146, 138);
  padding: 0.5rem;
  margin: 0.5rem;
  color: black;
  border-radius: 25% / 30%;
  transition: ease-in 0.2s;
}

.blogCard:hover {
  background-color: rgb(143, 170, 161);
  color: rgb(22, 22, 22);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.1);
}

.blogCard img{
  max-width: 350px;
  border-radius: 60% / 90%;
}

input, textarea {
  color: white !important;
}

::placeholder {
  color: rgb(22, 21, 21) !important;
}
