body {
  background-color: #404e68;
  color: white;
}

.App {
  /* text-align: center; */
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* color: white; */
  /* padding: 2rem; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 6rem 15vw;
}

.card {
  background-color: rgb(202, 218, 215);
  color: black;
}